@import "variables";
@import "general";
@import "header-navigation";
@import "footer";

.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
}

#page-description {
    margin-top: 200px;
    margin-bottom: 200px;
    .form-header {
      color: $color-white;
      font-weight: bold;
      text-align: center;
    }
    .form-header-discription {
      color: $color-white;
      text-align: center;
      margin-top: 32px;
    }
    .form-input {
      max-width: 570px;
      margin: 0 auto;
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .form-input-name-email {
        min-width: 270px;
        min-height: 50px;
        padding-left: 20px;
        box-sizing: border-box;
        margin-bottom: 1.5rem;
        border: 2px solid $color-white;
        border-radius: 3px;
        background: transparent;
        outline: none;
        color: $color-white;
        font-weight: bold;
      }

      .form-input-name-email::placeholder {
        color: $color-white;
        font-weight: bold;
      }
      .btn {
        min-width: 100%;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: $color-green;
        color: $color-white;
        text-transform: uppercase;
        font-size: 13.3px;
        line-height: 15.29px;
      }
    }
  }

  @media (max-width: 550px) {
    #page-description {
      .form-input-name-email {
        width: 100%;
      }
      }
    }

.bg-black {
      background-color: $bg-black;
      overflow: auto;
      width: 100vw;
    }
.bg-purple {
  background-color: $color-purple;
}

.bg-red {
  background-color: $color-red;
}

#page-pricing {
  padding-top: 100px;
    .heading-pricing {
      color: $color-white;
      text-align: center;
       }
    .plans {
      display: flex;
      margin-top: 46px;
      justify-content: space-between;
    }
    .footer-plans {
      margin-top: 50px;
      color: $color-white;
      text-align: center;
    }
    }

.cards {
  max-width: 367px;
  color: $color-white;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  .__header-plans {
    padding-top: 21px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
  .price {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  .value {
    margin-right: 16px;
  }
}
  .btn {  
  margin-top: 24px;
  width: 319px;
  height: 66px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  border: 1px solid $color-white;
  color: $color-white;
  text-transform: uppercase;
  }

  .btn:hover {
    cursor: pointer;
  }

  .btn:active {
    border: 3px solid $color-white;
  }

  .discription-plan {
    width: 318px;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 66px;
    margin: 0 auto;
    font-size: 12.8px;
    line-height: 19.2px;
  }
}

.bg-subscribe_1 {
  background-image: url(../images/subscribe_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-subscribe_2 {
  background-image: url(../images/subscribe_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-subscribe_3 {
  background-image: url(../images/subscribe_3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 550px) {
  #page-pricing {
    .plans {
      flex-direction: column;
    }
    .cards {
      margin-bottom: 26px;
    }
    .cards:last-child {
      margin-bottom: 0;
    }
  }
}

#page-news {
  padding-top: 100px;
  .header-hews {
    text-align: center;
    color: $color-white;
    padding-bottom: 48px;
  }
}

.news-item {
  display: flex;
  padding-bottom: 48px;
  justify-content: space-between;
  overflow-x: hidden;
}

.news-item:last-child {
  padding-bottom: 0;
}

.news-item:nth-child(odd) {
  flex-direction: row-reverse;
  .news-footer {
    margin-top: 16px;
  }
}

.news-container {
  width: 575px;
}

.news-body {
  .header-news-body {
    font-size: 30px;
    font-weight: normal;
    color: $color-white;
    text-transform: capitalize;
  }
  .text-news {
    margin-top: 30px;
    line-height: 24px;
  }
}

.news-footer {
  margin-top: 24px;
  .avatar {
    margin-right: 16px;
  }
  .author {
    color: $color-orange;
    text-transform: uppercase;
    margin-right: 16px;
    font-size: 12.8px;
    line-height: 19.2px;
  }
  .date-news {
    font-size: 12.8px;
    line-height: 19.2px;
  }
  .btn {
    margin-top: 48px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid $color-darkgrey;
    color: $color-darkgrey;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px 30px;
  }
  .btn:active {
    border: 2px solid $color-darkgrey;
  }
}

@media (max-width: 550px) {
  .news-item {
    flex-direction: column;
    .news-container {
      width: 374px;
      .header-news-body {
        font-size: 16px;
        line-height: 24px;
      }
      .text-news {
        margin-top: 16px;
      }
    }
    .news-image {
      width: 374px;
      height: 186px;
    }
  }
  .news-item:nth-child(odd) {
    flex-direction: column;
  }
  .header-news-body {
    margin-top: 50px;
  }
}

#page-app {
  padding-top: 100px;
  margin-bottom: 100px;
  .header-page-app {
    text-align: center;
    color: $color-white;
  }
}

.container-page-app {
  display: flex;
  .description-app {
    margin-top: 64px;
    margin-right: 144px;
    width: 600px;
    .description-app-txt {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .image-phone {
    margin-top: 48px;
  }
  .btn {
    margin-top: 16px;
    border-radius: 32px;
    font-size: 12.8px;
    padding: 16px 40px;
    background-color: $color-red;
    color: $color-white;
    border: none;
    cursor: pointer;
  }
  .btn:active {
    border: 2px solid $color-darkgrey
  }
}

@media (max-width: 550px) {
  .container-page-app {
    flex-direction: column-reverse;
    .description-app {
      width: 374px;
      margin-top: 16px;
    }
  }
}

// !!!!! artist.html !!!!!!//

.bg-morten-harket {
  background-image: url("../images/MortenHarket.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
}

.name-author {
  color: $color-white;
}

.subscriber {
  margin-top: 16px;
  color: $color-white;
}

.buttons {
  margin-top: 48px;
  display: flex;
  .btn {
    width: 200px;
    padding: 20px 30px;
    font-size: 12.8px;
    text-transform: uppercase;
    color: $color-white;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border: none;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn:active {
    border: 1px solid $color-white;
  }
  .image-button {
    filter: invert(1);
    width: 20px;
    margin-right: 16px;
  }
}

@media (max-width: 550px) {
  .bg-morten-harket {
    #page-description {
      margin-top: 225px;
    }
  }
  .buttons {
    flex-direction: column;
    .btn {
      margin-top: 1.5rem;
    }
    .btn:first-child {
      margin-top: 0;
    }
  }
}

#page-popular-track {
  padding-top: 100px;
  h2 {
    color: $color-white;
  }
}
.popular-tracks-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 215px;
}
.popular-track {
  display: flex;
  align-items: center;
  position: relative;
  width: 550px;
  margin-right: 50px;
  margin-top: 25px;
}
.popular-track:nth-child(1) {
  margin-top: 0px;
}

.popular-track:nth-child(4) {
  margin-top: 0px;
}

.album-icon-mini {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.track-name {
  color: $color-white;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
}

.track-author {
  font-size: 12.8px;
  line-height: 19.2px;
}

.time-track {
  position: absolute;
  left: 526px;
  font-size: 12.8px;
  line-height: 19.2px;
}

@media (max-width: 550px) {
  .popular-tracks-list {
    height: min-content;
  }
  .popular-track:nth-child(1) {
    margin-top: 25px;
  }
  
  .popular-track:nth-child(4) {
    margin-top: 25px;
  }
  .time-track {
    left: 349px;
  }
}

#page-discography {
  padding-top: 100px;
  h2 {
    color: $color-white;
  }
}

.discography-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,250px);
  grid-template-rows: repeat(1,320px);
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}

.album-icon {
  width: 250px;
  height: 250px;
}

.album-name {
  color: $color-white;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  margin-top: 18px;
}

.album-year {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 550px) {
  .discography-section {
    grid-template-columns: repeat(2,137px);
    grid-template-rows: repeat(2,230px);
    grid-column-gap: 50px;
    grid-row-gap: 25px;
  }

  .album-icon {
    width: 137px;
    height: 137px;
  }
}

#page-similar {
  padding-top: 100px;
  margin-bottom: 100px;
  h2 {
    color: $color-white;
  }
}

.section-similars {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}

.similar-item {
text-align: center;
}

.musical-group {
  margin-top: 17px;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: $color-white;
}

.amount-subscribers {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 550px) {
  .section-similars {
    grid-template-columns: repeat(2, 137px);
  }
}